body {
    background: url(../images/Background.jpg);   
}



.container {
   margin-top: 25px;
   margin-left: 50px;
   
}


.logobox {
    filter: drop-shadow(7px 7px #dba770);
    max-width: 220px;
    float:left;
    border: 2px solid #f6cb9f;
    overflow: auto;    
}


.titlebox {
    background-color: #f6cb9f; 
    box-shadow: 7px 7px #dba770;
    padding: 15px 20px;
    text-align: center;
    width: 75%;
    float: right;
    
    
}
a {
    font-weight: bold;
    font-size: 30px;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 5px 3px #dba770;

}

